/* * ESTILOS TEMPORALES (TEMPORARY STYLES)
 * Esto es solo para probar la lógica del Backend.
 * El compañero de Frontend puede borrar esto y escribir sus propios estilos.
 */

body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

/* tablero */
#tablero-test {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    background-color: #333;
    padding: 10px;
}

/* celda */
.celda {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

/* falcil color separar */
.jugador-x {
    color: blue;
    background-color: #e0f7fa;
}

.jugador-o {
    color: red;
    background-color: #ffebee;
}